@import '../../../styles/index.scss';

.product__container{
    width: 400px;
    border-radius: 16px;
    background-color: #FFF;
   overflow: hidden;
   position: relative;
   .product__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 32px;
    .favorite__btn{
        width: 48px;
        height: 48px;
        border-radius: 10px;
        @include flex-center;
        background-color: $primary-color;
        cursor: pointer;
    }
    .active{
        background-color: red;
    }
    .close__btn{
        width: 48px;
        height: 48px;
        @include flex-center;
        border-radius: 10px;
        background-color: #FFF;
        cursor: pointer;
    }
   }
    .product__image{
        height: 208px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .product__content{
        padding: 32px;
        .product__content__top{
            margin-bottom: 32px;
            h2{
                margin-bottom: 8px;
            }
        }
        .choice-required{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 24px;
            h4{
                color: $secondary-color
            }
            .required__btn{
                @include flex-center;
                padding: 4px 8px;
                border-radius: 4px;
                background-color: $primary-color;
                span{
                    color: #fff !important;
                }
            }
        }
    }
    .add__cart{
        display: flex;
        gap: 16px;
        align-items: center;
        justify-content: space-between;
        .product__quantity{
            @include flex-center;
            flex-shrink: 0;
            gap: 6px;
            width: 104px;
            height: 64px;
            border-radius: 12px;
            background-color: $gray-color-247;
            button{
               border: none;
               background-color: inherit;
               cursor: pointer;
            }
        }
        .add__cart__btn{
            @include flex-center;
            cursor: pointer;
            width: 100%;
            color: #FFF;
            background-color: $primary-color;
            padding: 16px 32px;
            border-radius: 12px;
            
        }
    }
}