
// responsive settings mixins
@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}
@mixin mobile2 {
  @media (max-width: 650px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin laptop {
  @media (max-width: 991px) {
    @content;
  }
}
@mixin desktop {
  @media (max-width: 1280px) {
    @content;
  }
}

@mixin desktop2 {
  @media (max-width: 1085px) {
    @content;
  }
  
}
@mixin desktop3 {
  @media (max-width: 1345px) {
    @content;
  }
  
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}