@import '../../styles/index.scss';

.sidebar{
    width: 304px;
    padding: 36px 16px;
    background: #F7F7F7;
border-radius: 0px 24px 24px 0px;
    .sidebar__top{
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 52px;
        margin-left: 16px;
        .sidebar__img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    .sidebar__navigation{
        display: flex;
        flex-direction: column;
        margin-bottom: 116px;
        .sidebar__link{
            width: 100%;
            display: flex;
            align-items: center;
            column-gap: 24px;
            padding: 16px;
            border-radius: 12px;
           font-weight: 400; 
           color: #626264;
           img{
            filter: opacity(0.5);
           }
          }
          
          .active{
            mix-blend-mode: normal;
            border: 2px solid #000000;
            box-shadow: 2px 2px 0px #000000;
            background-color:#503E9D;
            color: #F7FAFC;
            font-weight: 700;
            img{
                filter: invert(100%);
            }
          }
        
    }
}