@import '../../../styles/index.scss';
.card__container{
    width: 240px;
    background-color: #fff;
    margin: auto;
    border-radius: 20px;
    padding: 16px;
    border: 2px solid black;
      box-shadow: .2rem .2rem #05060f;
      margin-bottom: 50px;
      
    .close__btn{
        cursor: pointer;
        img{
            margin-left: auto;
        }
    }
    .card__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        .card__img{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 64px;
            height: 64px;
            border-radius: 12px;
            background-color:  rgba(251, 109, 58, 0.1);
            margin-bottom: 24px;
        }
        .card__text{
            h4{
                line-height: 24px;
                margin-bottom: 8px;
                span{
                    color: #FB6D3A;
                }
            }
            p{
                margin-bottom: 32px;
            }
        }
        
    }
}

